
    <div class="container mt-5">
        
        <div class="mb-3 d-flex align-items-center">
            <label for="categorySelect" style=" font-weight: bold; margin: 15px;"class="form-label">Categoría:</label>
            <select class="form-select me-2" id="categorySelect" name="category">
                {{#each categories}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button id="search" class="btn btn-success">Buscar</button>
            
            <div class="d-flex align-items-center mx-3">
                <button style="border: none;  background: none;">
                    <a class="btn btn-warning"style="border-radius: 85px; padding: 20px;" href="/api/carts/{{userCartId}}">
                        <i class="bi bi-cart-fill"></i>
                    </a>
                </button>
            
                <button  class="btn btn-warning "  id="premiumButton" style="border-radius: 30px; padding: 8px;   width: 130px; height: 70px; display:none;" onclick="addProduct()">Añadir Producto <i
                    class="bi bi-plus"></i>
                </button>
                             
                <button style="border: none;  background: none;">
                    <a class="btn btn-warning"style="border-radius: 85px; padding: 20px;" href="/api/sessions/profile">
                         <i class="bi bi-person-circle"> Profile </i>
                    </a>
                </button>
            </div>
        </div>

        
        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                    <th id="priceHeader" style="cursor: pointer;">Precio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each payload}}
                <tr>
                    <td>
                        <a href="/api/products/{{this._doc._id}}">
                            <img src="{{this._doc.image}}" alt="{{this._doc.name}}" width="100">
                        </a>
                    </td>
                    <td>
                        <a href="/api/products/{{this._doc._id}}" class="text-decoration-none text-dark"
                            style="font-weight: bold; font-size: 1rem; font-family: 'Arial', sans-serif;">
                            {{this._doc.name}}
                        </a>
                    </td>
                    <td>{{this._doc.category}}</td>
                    <td>{{this._doc.stock}}</td>
                    <td>
                        <span style="font-weight: bold; font-size: 18px; color: #c50b46;">
                            ${{this._doc.price}}
                        </span>
                    </td>
                    
                    <td>
                        <button class="btn" onclick="addToCart(this,'{{this._doc.owner}}')" id="{{this._doc._id}}" style="background-color: orange;">
                            <i class="bi bi-cart-plus-fill"></i>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>


        <nav aria-label="Página">
            <ul class="pagination justify-content-center">
                {{#if hasPrevPage}}
                <li class="page-item">
                    <a class="page-link" href="?page={{prevPage}}">Anterior</a>
                </li>
                {{else}}
                <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                </li>
                {{/if}}
                {{#each pageNumbers}}
                <li class="page-item {{#if current}}active{{/if}}">
                    <a class="page-link" href="?page={{number}}">{{number}}</a>
                </li>
                {{/each}}
                {{#if hasNextPage}}
                <li class="page-item">
                    <a class="page-link" href="?page={{nextPage}}">Siguiente</a>
                </li>
                {{else}}
                <li class="page-item disabled">
                    <span class="page-link">Siguiente</span>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {

            const categorySelect = document.getElementById("categorySelect");
            const searchButton = document.getElementById("searchButton");
            const priceHeader = document.getElementById("priceHeader");

            
            const userRole = "{{ user.rol }}";
            
            if (userRole === "premium") {
            document.getElementById('premiumButton').style.display = 'block';
            }

            priceHeader.addEventListener("click", function () {
                const Url = new URL(window.location.href);
                const queryParams = new URLSearchParams(Url.search);
                const currentSort = queryParams.get("sort");

                
                const Sort = currentSort === "asc" ? "desc" : "asc";
                queryParams.set("sort", Sort);
                Url.search = queryParams.toString();
                window.location.href = Url.toString();
            });

            search.addEventListener("click", function () {
                const CategSELECT = categorySelect.value;

                if (CategSELECT === 'Todas') {
                    const Url = new URL(window.location.href);

                    Url.searchParams.delete('category');
                    window.location.href = Url.toString();
                } else {
                    window.location.href = `?category=${CategSELECT}`
                }
            });
        });



        function addToCart(item, owner) {

            const productId = item.id;
            
            const user =  '{{ userID }}'
            const cartId = '{{ userCartId }}';
            const userRole = "{{ user.rol }}";
            if (userRole === "premium" && owner === user) {             
                 Toastify({
                    text: "No puedes añadir tu propio producto al carrito.",
                    gravity: "bottom",
                    position: "right",
                    style: {
                    background: "linear-gradient(to right, #ff6666, #cc3333)",
            },
            duration: 3000,
            }).showToast();
            }else{ 
            fetch(`/api/carts/${cartId}`, {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ productId }),
            })
                .then(res => {
                    if (res.ok) {
                        Toastify({

                            text: "Producto agregado al carro",
                            gravity: "bottom",
                            position: "right",
                            style: {
                                background: "linear-gradient(to right, #3352FF, #338AFF)",
                            },
                            duration: 3000

                        }).showToast();
                        console.log('Producto agregado al carrito con éxito');
                    } else {
                        
                        console.error('Error al agregar el producto al carrito');
                    }
                })
                .catch(error => {

                    console.log(error);
                });
        }
}
        function addProduct() {
            window.location.href = "/api/products/manager/createProduct";
    }

    

    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    