<form method="get" action="/api/sessions/logout" style="display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;">
    <h1>Tu Perfil</h1>
    <p>Bienvenido {{first_name}} {{last_name}}</p>
    <p>Nivel de usuario: {{rol}}</p>
    <p>Email: {{email}}</p>
    <p>Edad: {{age}}</p>
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
<div>
    <a href="/api/products/productsList" ><button id="userButton"class="btn btn-primary mt-3 mx-5">Ir a la Tienda</button></a>
</div>

<div>
    <a href="/api/products/manager" ><button id="adminButton" class="btn btn-success mt-3 mx-5 text-decoration-none" style="display: none;">Ir al administrador de Productos</button></a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    
    const userRole = "{{ rol }}"; 

    // Verifica si el usuario es un administrador y muestra el botón 
    if (userRole === "Admin") {
      document.getElementById('adminButton').style.display = 'block';
      document.getElementById('userButton').style.display = 'none'
    }
  });
</script>