
<div class="position-absolute top-50 start-50 translate-middle">
<form method="get" action="/api/sessions/logout" style="display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;">
    <h1>Tu Perfil</h1>
    <p>Bienvenido {{first_name}} {{last_name}}</p>
    <p>Nivel de usuario: {{rol}}</p>
    <p>Email: {{email}}</p>
    <p>Edad: {{age}}</p>
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
<div class="d-flex justify-content-center">
    <a style="text-decoration: none;" href="/api/products/productsList" ><button id="userButton"class="btn btn-primary mt-3 mx-5">Ir a la Tienda</button></a>
</div>

<div class="d-flex justify-content-center">
    <a style="text-decoration: none;" href="/api/products/manager" ><button id="productsAdmin" class="btn btn-success mt-3 mx-5 text-decoration-none" style="display: none;">Administrador de Productos</button></a>
</div>
<div class="d-flex justify-content-center">
    <a style="text-decoration: none;" href="/api/users" ><button id="usersAdmin" class="btn btn-warning mt-3 mx-5 text-decoration-none" style="display: none;">Administrador de Roles</button></a>
</div>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary mt-3 mx-5" id="premButton" onclick="toPremium('{{this._id}}','{{this.rol}}')">Actualizar a Premium</button>
</div>
<div class="d-flex justify-content-center">
    <a href="/api/users/myDocuments" ><button id="Button" class="btn btn-warning mt-3 mx-5 text-decoration-none" >Mis Documentos</button></a>
</div>
<div class="d-flex justify-content-center">
    <a href="/api/users/{{_id}}/documents" ><button id="Button" class="btn btn-warning mt-3 mx-5 text-decoration-none" >Subir Imagenes</button></a>
</div>
 </div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    
    const userRole = "{{ rol }}"; 

    // Verifica si el usuario es un administrador y muestra el botón 
    if (userRole === "Admin") {
      document.getElementById('userButton').style.display = 'none';
      document.getElementById('productsAdmin').style.display = 'block';
      document.getElementById('usersAdmin').style.display = 'block';
      document.getElementById('premButton').style.display = 'none';

    }
    if (userRole === "premium"){
      document.getElementById('premButton').style.display = 'none'
    }


    document.getElementById('premButton').addEventListener('click', function () {
      toPremium('{{this._id}}', '{{this.rol}}');
    });

  });

function toPremium(id,rol){
    const userId = id
    const userRol = rol


        fetch(`/api/users/premium/${userId}`, {
                method: 'GET',
            })
        .then((res) => {
          if (res.ok) {
            Toastify({
            text: "Usuario Actualizado a Premium",
            gravity: "bottom",
            position: "right",
            style: {
                background: "linear-gradient(to right, #66ff66, #33cc33)",
            },duration: 1000
            }).showToast();
            console.log("El rol fue cambiado con exito");
            setTimeout(() => {
            window.location.href = '/api/sessions/logout';
            }, 1500);
          } else {
            Toastify({
                    text: "Falta Cargar Documentos",
                    gravity: "bottom",
                    position: "right",
                    style: {
                    background: "linear-gradient(to right, #ff6666, #cc3333)",
            },
            duration: 1000,
            }).showToast();
            console.error("Error al cambiar el rol");
          }
        })
        .catch((error) => {
          console.error("Error de red al cambiar el rol", error);
        });
}
  
</script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">